# Python
backend/venv/
backend/__pycache__/
# backend/models/*.pkl
*.pyc

# Environment Variables
.env
*.env
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
